[submodule "HardwareRepository"]
	path = HardwareRepository
	url = git://github.com/mxcube/HardwareRepository
[submodule "BlissFramework"]
	path = BlissFramework
	url = git://github.com/mxcube/BlissFramework
[submodule "HardwareObjects"]
	path = HardwareObjects
	url = http://github.com/mxcube/HardwareObjects
